services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:vIGZUYMlHipTLnKyyyvReDPwSoDPIbYI@centerbeam.proxy.rlwy.net:27160/railway
      - DEBUG=false
      - SECRET_KEY=prod_secret_key_testing
      - JWT_SECRET_KEY=prod_jwt_secret_testing
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        - VITE_API_BASE_URL=http://localhost:8000/api/v1
        - VITE_BACKEND_BASE_URL=http://localhost:8000
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always
